<%- include('../template/header_up'); -%>
<script type="text/javascript" src="/static/js/index.js"></script>
<%- include('../template/header_low'); -%>
<% countries.forEach((country) => { %>
    <div class="section">
        <h4 class="blue-text text-lighten-2">País: <%= country %></h2>
        <div class="section">
            <div class="row">
                <div class="col s12 l4">
                    <h5 class="grey-text">Positivos</h3>
                    <h4 class="black-text" id="pos<%= country %>">0</h2>
                </div>
                <div class="col s12 l4">
                    <h5 class="grey-text">Muertos</h3>
                    <h4 class="red-text" id="dead<%= country %>">0</h2>
                </div>
                <div class="col s12 l4">
                    <h5 class="grey-text">Recuperados</h3>
                    <h4 class="green-text" id="rec<%= country %>">0</h2>
                </div>
            </div>
        </div>
    </div>
<% }) %>
<%- include('../template/footer'); -%>